body {
  background-color: white;
  color: black;
  transition: background-color 0.4s, color 0.4s;
}

.tema-escuro {
  background-color: #121212;
  color: white;
}

.btn-tema-escuro {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #333;
  color: white;
  font-size: 16px;
  transition: 0.3s;
}

.btn-tema-escuro:hover {
  background: #555;
}

.tema-escuro .btn-tema-escuro {
  background: #f5f5f5;
  color: #222;
}